@import "vars";
.about {
    padding: 20px 0 60px;
    &__title {
        text-align: center;
    }
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 32px;
        font-family: $font4;
        img {
            display: block;
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding: 10px 0 40px;
        &__inner {
            grid-template-columns: 1fr;
            gap: 15px;
            margin-top: 20px;
            img {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}